[Desktop Entry]
Name=XConnect
NoDisplay=true
MimeType=x-scheme-handler/xconnect;
TryExec=xconnect
Exec=xconnect %u
Icon=xconnect
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=xconnect
